/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #999;
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}

.service-box-bg-1 {
    background-image: url('../img/service-bg-1.jpg')
}

.service-box-bg-2 {
    background-image: url('../img/service-bg-2.jpg')
}

.service-box-bg-3 {
    background-image: url('../img/service-bg-3.jpg')
}

.service-box-bg {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    height: 210px;
}

.service-box-inner {
    border: 1px solid #f3f3f3;
    border-top: 0 solid;
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.single-service-box {
    position: relative;
}

.service-box-more-wrap {
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100%;
    text-align: center;
}

.service-box-inner h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.service-meta {
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
}

.bordered-btn {
    display: inline-block;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #f3f3f3;
    padding: 8px 20px;
    background: #fff;
    transition: .3s;
}

.bordered-btn:hover {
    color: #555;
    border-color: #ededed;
}