/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}


body, h2 {
  font-weight: 300;
}
.section-title {
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 50px;
}

.contact-heading {
  margin-bottom: 20px;
}
.contact-us-form {
  font-size: 18px;
  font-weight: 400;
}
.form-element {
  position: relative;
}
.form-element label {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.contact-us-form input[type="text"], .contact-us-form input[type="email"], .contact-us-form textarea {
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  transition: .2s;
  color: #333;
}
.contact-us-form textarea {
  height: 150px;
}
.contact-us-form input[type=submit] {
  background: #6D59B0;
  border: none;
  color: #fff;
  text-transform: uppercase;
  float: right;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 3px;
  transition: .3s;
}
.contact-us-form input[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}
.small-text {
  font-size: 14px;
  color: #999;
  padding: 9px 0;
  margin: 0;
}
.contact-us-form input[type="text"]:focus, .contact-us-form input[type="email"]:focus, .contact-us-form textarea:focus {
  background: #F0F0F0;
  color: #333;
}
